<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Weather</title>
  </head>
  <body><br>
<div class="mx-auto" id="carbonads" style="width: 200px;">
<form class="form-inline" method="POST">{% csrf_token %}
  <div class="form-group mb-2">
    <input type="text" class="form-control" name="city" placeholder="Enter City" required="">&nbsp;&nbsp;&nbsp;
  <button type="submit" class="btn btn-success mb-2">Submit City</button>
  </div>
</form>
<div class="card" style="width: 18rem;">
  <div class="card-body">
  	<img src="http://openweathermap.org/img/w/{{ one_city.icon }}.png">
    <h5 class="card-title">{{ one_city.city }}</h5>
    <h6 class="card-title">{{ one_city.tempreture }} °С</h6>
    <h6 class="card-title">Wind {{ one_city.wind }} m/s</h6>
    <p class="card-text">{{ one_city.description }}.</p>
  </div>
</div>
</div>

  {% for city in cities_data %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
  	<img src="http://openweathermap.org/img/w/{{ city.icon }}.png">
    <h5 class="card-title">{{ city.city }}</h5>
    <h6 class="card-title">{{ city.tempreture }} °С</h6>
    <h6 class="card-title">Wind {{ city.wind }} m/s</h6>
    <p class="card-text">{{ city.description }}.</p>
  </div>
</div>
 {% endfor %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>